{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  <h1 class="govuk-heading-xl">Your task list</h1>
  {% call govukFieldset({
    legend: {
      text: "Delete task " + task.id,
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}
  <form action="#" method="post" novalidate>
  <input type="hidden" name="id" value="{{ task.id }}">
  <input type="hidden" name="confirm" value="yes">
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Confirm Delete",
      element: "input",
      preventDoubleClick: true
    }) }}
    <a class="govuk-link" href="/task/{{ task.id }}">Cancel</a>
  </div>
  </form>
  {% endcall %}
{% endblock %}
