{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% extends "template.njk" %}

<!-- You may want to make further use of these components: https://design-system.service.gov.uk/components/
but ultimately it is up to you -->

{% block content %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }
    ]
  }) }}
  <h1 class="govuk-heading-xl">Your task list</h1>

  <p>You are now signed in to your task list</p>

  <a href="/status">
  <div class="govuk-button-group">
    {{ govukButton({
      text: "View by Status",
      element: "input"
    }) }}
  </div>
  </a>
  <a href="/status/all">
  <div class="govuk-button-group">
    {{ govukButton({
      text: "View All",
      element: "input"
    }) }}
  </div>
  </a>
  <a href="/createtask">
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Create Task",
      element: "input"
    }) }}
  </div>
  </a>

{% endblock %}
